
@{
    ViewData["Title"] = "Serviceroute";
    Layout = "~/Areas/site.aidcopress.org/Views/Shared/_sitelayout-No-Footer.cshtml";
}



<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="contact-us">
                <div class="col-lg-9 col-md-9 col-xs-12 mx-auto">
                    <div class="contact-us-section">


                       



                        <div class="box-header">
                            <span class="box-title">ثبت اطلاعات اولیه پرسنل</span>
                        </div>
                        <div class="contact-us-row">
                            <p>لطفا موارد ستاره دار را وارد نمایید</p>
                        </div>


                        <div class="header-search row text-right">
                            <div class="header-search-box2">
                                <form action="#" class="form-search2">
                                    <input type="search" class="header-search-input2" name="search-input"
                                           placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                    <div class="action-btns2">
                                        <button class="btn btn-search2" type="submit">
                                            <img src="~/site.temp/assets/images/search1.png" alt="search">
                                        </button>
                                      @*   <div class="search-filter">
                                            <div class="form-ui">
                                                <div class="custom-select-ui">
                                                </div>
                                            </div>
                                        </div> *@
                                    </div>
                                </form>
                            </div>

                        </div>

                        <form action="#" id="contactForm" class="contact-us-form">
                         @*    <div class="contact-us-row contact-us-row--align-top">
                                
                             
                                
                            </div> *@
                            <div class="contact-us-row contact-us-row--align-width">

                                <label for="#" class="form-field-container">
                                    <div class="form-field-label">تلفن تماس*</div>
                                    <div class="form-field-frame">
                                        <input name="contact[phone]" type="number" placeholder="" class="form-field js-input-field form-control">
                                    </div>
                                </label>
                             @*    <label for="#" class="form-field-container">
                                    <div class="form-field-label">ایمیل*</div>
                                    <div class="form-field-frame">
                                        <input name="contact[email]" type="email" placeholder="" class="form-field js-input-field form-control">
                                    </div>
                                </label> *@



                              @*   <label for="#" class="form-field-container">
                                    <div class="form-field-label">نام و نام خانوادگی*</div>
                                    <div class="form-field-frame">
                                        <input name="contact[fullName]" type="text" placeholder="" class="form-field js-input-field form-control">
                                    </div>
                                </label> *@
                                <label for="#" class="form-field-container">
                                    <div class="form-field-label">موضوع*</div>
                                    <div class="custom-select-ui">
                                        <select class="right">
                                            <option>-- انتخاب موضوع --</option>
                                            <option>پیشنهاد</option>
                                            <option>انتقاد یا شکایات</option>
                                            <option>پیگیری سفارش</option>
                                            <option>خدمات پس از فروش</option>
                                            <option>استعلام گارانتی</option>
                                            <option>مدیریت</option>
                                        </select>
                                        <div class="nice-select right" tabindex="0">
                                            <span class="current">
                                                -- انتخاب
                                                موضوع --
                                            </span>
                                            <ul class="list">
                                                <li data-value="-- انتخاب موضوع --" class="option selected">
                                                    --
                                                    انتخاب موضوع --
                                                </li>
                                                <li data-value="پیشنهاد" class="option">پیشنهاد</li>
                                                <li data-value=" انتقاد یا شکایات" class="option">
                                                    انتقاد یا شکایات
                                                </li>
                                                <li data-value="پیگیری سفارش" class="option">پیگیری سفارش</li>
                                                <li data-value="خدمات پس از فروش" class="option">
                                                    خدمات پس از فروش
                                                </li>
                                                <li data-value="استعلام گارانتی" class="option">استعلام گارانتی</li>
                                                <li data-value="مدیریت" class="option">مدیریت</li>
                                            </ul>
                                        </div>
                                    </div>
                                </label>

                              
                                    
                                     
                             



                               
                            </div>
                          
                            <div class="contact-us-row contact-us-row-align-left text-left d-block pl-3">
                                <button type="button" class="btn btn-info js-contact-form-submit">
                                    ثبت و ارسال
                                </button>
                            </div>
                            
                           

                         
                        </form>



                       
                    

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>